<!DOCTYPE html>
<html>
    <header>
        <title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
    <style>
        h2 {text-align: center;}
        p {text-align: center;}
        div.ml-container {
            display: flex;
            justify-content: center;
            background-color: #163dad;
            color: #bdbbbb;
        }
    </style>
    </header>

    <body>
        <div class="ml-container">
            <h2>Welecome to Movies API</h2>
        </div>
    </body>
</html>